.bounce-center-in {
  animation: bounceCenterIn 0.3s ease-in;
}

.bounce-center-out {
  animation: bounceCenterOut 0.3s ease-in;
}

.slide-up {
  animation: slideUp 0.2s ease-in;
}

.slide-down {
  animation: slideDown 0.2s ease-in;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}
